VITE_APP_BASE_PATH=/chat/
VITE_PEER_HOST=0.peerjs.com
VITE_PEER_PORT=443
VITE_PEER_PATH=/
VITE_PEER_SECURE=true
VITE_PEER_DEBUG=1
VITE_STUN_URLS=stun:stun.l.google.com:19302,stun:global.stun.twilio.com:3478
VITE_TURN_URLS=
VITE_TURN_USERNAME=
VITE_TURN_CREDENTIAL=
