RELAY_PORT=8787
RELAY_ALLOWED_ORIGINS=http://localhost:5173
RELAY_LOG_LEVEL=info
RELAY_SESSION_TTL_MS=900000
RELAY_CHUNK_TTL_MS=300000
RELAY_CLEANUP_INTERVAL_MS=60000
RELAY_MAX_CHUNK_BYTES=4194304
RELAY_POLL_INTERVAL_MS=1500
