BLOB_READ_WRITE_TOKEN=
RELAY_PORT=8787
RELAY_ALLOWED_ORIGINS=http://localhost:5173
RELAY_LOG_LEVEL=info
RELAY_SESSION_TTL_MS=900000
RELAY_CLEANUP_INTERVAL_MS=60000
RELAY_MAX_FILE_BYTES=5497558138880
RELAY_POLL_INTERVAL_MS=1500
